*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
 text-align: center;
  font-family: sans-serif;
}

h2{
  background-color: cyan;
  align-self: center;
  text-align: center;
  padding: 1px;
  display: inline-block;

}